/* Efeito hover para o botão do LinkedIn */
.linkedin-logo rect {
  transition: fill 0.3s ease;
}
.linkedin-link:hover .linkedin-logo rect {
  fill: #e91e63;
}
/* Efeito hover para o botão do GitHub */
.github-link:hover svg rect {
  fill: #e91e63;
  transition: fill 0.3s ease;
}

#menu-lateral {
    position: fixed;
    right: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    border: 0,0,0,0.2 ;
    height: 100%;
    justify-content: center;
}

.menu-svg-btn {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: background 0.2s;
    border: none;
    font-size: 1rem;
}

.menu-svg-btn:hover {
    box-shadow: 0px 4px 4px #dfc7c7;
    cursor: pointer;
}

#perfil-foto {
    height: 100vh;
    width: 25;
    position: absolute;
    left: 50vw;
    top: 20vh;
}

#sobre-mim {
    background-color: #ffe4ed;
    height: 100vh;
    width: 100%;
    display: flex;
    padding-left: 12rem;
    justify-content: center;
    flex-direction: column;
}

body {
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#conteudo-pagina-1 {
    display: flex;
}

#home{
    display: flex;
    flex-direction: column;
}

#home img {
    height: 30rem;
    box-shadow: 0px 8px 25px #000000;
    margin-left: 8rem;
}


#nome {
    color: #fff;
    background-color: #ee6995;
    font-weight: bold;
    padding: 0.2rem;
}

#digitando {
    width: 10rem;
    height: 12rem;
    font-size: 8rem;
    margin-bottom: 0;
    font-family: monospace;
    color: #969696;
}

#ponto-final {
    font-size: 5rem;
    color: white;
}

#apresentacao {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    padding-left: 5rem;
    gap: 16rem;
}

#titulo {
    display: flex;
}

#resumo {
    font-size: 1.5rem;
    line-height: 2rem;
    width: 40rem;
}

#meus-projetos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#meus-projetos h1 {
    display: flex;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    width: fit-content;
    font-size: 3rem;
}

.projeto-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}

.linha {
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

.projeto-texto {
    text-decoration: none;
    color: #000000;
    display: inline-block;
    font-family: 'Courier New';
}

.projeto-texto h2 {
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: #ee6995;
}

.card {
    position: relative;
    display: flex;
    width: 300px;
    height: 200px;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 25px #b8b7b7;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}



.card:hover {
    transform: scale(1.05);
    
}

.projeto-texto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .projeto-texto {
    transform: rotateX(0deg);
}

.projeto-container h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
}

.card img {
    height: 100%;
    width: 100%;
}

.card:hover img {
    scale: 0;
}

.projeto-texto p {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: #fadcf1;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

#info-contato {
    height: 30rem;
    width: 80rem;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

span:hover{
    color: #ff9abb;
}

#info-contato a:hover {
    color: #ff9abb;
}

#text-info {
    font-family:'Segoe UI';
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    width: 100%;
    align-items: center;
    margin-left: 18rem;
}

#text-info a {
    color: #000000;
    font-weight:550;
}

#gif {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.linkedin-link:hover .dot {
  animation: bounce 0.5s infinite alternate;
  transform-origin: center;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-3px);
  }
}

.github-link:hover .dot {
  animation: bounce 0.5s infinite alternate;
  transform-origin: center;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-3px);
  }
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #ee6995; /* Cor do "puxador" */
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: #fadcf1; /* Cor do fundo da barra */
}


footer button a {
    text-decoration: none;
}

footer button {
    padding: 0.8rem;
    background-color: #fabfe8;
}

footer button:hover{
    color: black;
    background-color: #ffe4ed;
}

